.wp-block-button__link{
  background: @bg-button-gta;
  &:hover{
    background: darken(@bg-button-gta, 10%);
  }
}
ul#category-list{
  li{
    a{
      text-decoration: none;
      p{
        margin: 0;
      }
    }
  }
}
#product-list-app{
  .card{
    p{
      font-weight: 200;
    }
    i.fa-plus{
      border: 1px solid #fff;
      border-radius: 30px;
      padding: 5px 6px;
      color: #fff;
      background: #429388;
      cursor: pointer;
    }
    &:hover{
      box-shadow: 0px 0px 10px 0px rgba(199,199,199,0.34);
      -webkit-box-shadow: 0px 0px 10px 0px rgba(199,199,199,0.34);
      -moz-box-shadow: 0px 0px 10px 0px rgba(199,199,199,0.34);
    }
  }
}
.font-weight-200{
  font-weight: 200;
}