footer{
  background-color: @bg-footer;
  color: #ffffff;
  p{
    font-weight: 100;
  }
  .widget_nav_menu{
    h2{
      font-size: 1rem;}
    ul{
      list-style: none;
      padding: 10px 0;
      li{
        padding: 5px 0;
        a{
          color: #fff;
          text-decoration: none;
          font-weight: 100;
        }
      }
    }
  }
}